<div class="container" id="ww-search__result">
    <div class="row">
        <div class="col">
            <article class="ww-reference__item ww-reference__item--short">
                <aside><img src="http://p588695.mittwaldserver.info/storage/1605186213_01 WW_200603_1286_max.jpg"
                        class="img-fluid" style="width: 128px;"></aside>
                <header>
                    <h1>Terrassen- und Treppenabdichtung</h1>
                    <h2>PMMA-Sanierung einer Terrassenanlage mit architektonischen Details</h2>
                    <span class="fw-bold text-primary">Produkt</span>

                </header>
                <footer><a href="/referenz?cid=3"><span>weiterlesen</span> <svg aria-hidden="true" focusable="false"
                            role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path fill="currentColor"
                                d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                            </path>
                        </svg></a></footer>
            </article>
        </div>
    </div>
</div>