<section class="ww-prefooter">
  <div class="container-md">
    <section class="ww-prefooter__contactbox">
      <h1>WestWood Kunststofftechnik GmbH</h1>
      <p>
        An der Wandlung 20, <br />
        32469 Petershagen (OT Lahde) <br />
        Postfach 1102, 32458 Petershagen <br />
        Tel.: <a href="tel:0049570283920">+49 5702 8392-0</a><br />
        Fax: <a href="tel:0049570283922">+49 5702 8392-22</a> <br />
        E-Mail: <a href="mailto:info@westwood.de">info@westwood.de</a>
      </p>
    </section>
    <section class="ww-prefooter__socialmedia">
      <h1>Social Media</h1>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/company/westwood-kunststofftechnik-gmbh"
            title="LinkedIn"
            target="_blank"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="linkedin-in"
              class="svg-inline--fa fa-linkedin-in fa-w-14"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/westwoodkunststofftechnikgmbh/"
            title="Facebook"
            target="_blank"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="facebook-f"
              class="svg-inline--fa fa-facebook-f fa-w-10"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.instagram.com/westwood_kunststofftechnik/"
            title="Instagram"
            target="_blank"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="instagram"
              class="svg-inline--fa fa-instagram fa-w-14"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                fill="currentColor"
                d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.xing.com/pages/westwoodkunststofftechnikgmbh"
            title="Xing"
            target="_blank"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="xing"
              class="svg-inline--fa fa-xing fa-w-12"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
            >
              <path
                fill="currentColor"
                d="M162.7 210c-1.8 3.3-25.2 44.4-70.1 123.5-4.9 8.3-10.8 12.5-17.7 12.5H9.8c-7.7 0-12.1-7.5-8.5-14.4l69-121.3c.2 0 .2-.1 0-.3l-43.9-75.6c-4.3-7.8.3-14.1 8.5-14.1H100c7.3 0 13.3 4.1 18 12.2l44.7 77.5zM382.6 46.1l-144 253v.3L330.2 466c3.9 7.1.2 14.1-8.5 14.1h-65.2c-7.6 0-13.6-4-18-12.2l-92.4-168.5c3.3-5.8 51.5-90.8 144.8-255.2 4.6-8.1 10.4-12.2 17.5-12.2h65.7c8 0 12.3 6.7 8.5 14.1z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/channel/UCUSf0wMZOPttIp1fi_9imJw"
            title="youtube"
            target="_blank"
          >
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fab"
              data-icon="youtube"
              class="svg-inline--fa fa-youtube fa-w-18"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 576 512"
            >
              <path
                fill="currentColor"
                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </section>
    <section class="ww-prefooter__newsletter flex-fill">
      <h1>Newsletter abonnieren</h1>
      <!-- <form action="https://302863.eu2.cleverreach.com/f/302863-304298/wcs/" method="post" target="_blank">
                <input type="email" id="text6741342" name="email" value="" placeholder="E-Mail Adresse *" >
                <button class="ww-button ww-button--secondary">Anmelden</button>
            </form> -->

      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form
          action="https://westwood.us7.list-manage.com/subscribe/post?u=f3c4212be1967514384de5202&amp;id=6f80733eda"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
        >
          <div>
            <div class="mc-field-group">
              <input
                placeholder="E-Mail Adresse *"
                type="email"
                value=""
                name="EMAIL"
                class="required email"
                required
                id="mce-EMAIL"
              />
            </div>
            <div id="mce-HIDDEN-FIELDS">
              <div class="mc-field-group d-flex mt-2">
                <label>
                  <input
                    checked="checked"
                    type="radio"
                    value="Herr"
                    name="MMERGE3"
                    class="required"
                    required
                    id="mce-MMERGE3-0"
                  />
                  Herr
                </label>
                <label>
                  <input
                    type="radio"
                    value="Frau"
                    name="MMERGE3"
                    class="required"
                    required
                    id="mce-MMERGE3-1"
                  />
                  Frau
                </label>
              </div>
              <div class="mc-field-group">
                <input
                  placeholder="Vorname *"
                  type="text"
                  value=""
                  name="FNAME"
                  class="required"
                  required
                  id="mce-FNAME"
                />
              </div>
              <div class="mc-field-group">
                <input
                  placeholder="Nachname *"
                  type="text"
                  value=""
                  name="LNAME"
                  class="required"
                  required
                  id="mce-LNAME"
                />
              </div>
              <div class="mc-field-group" style="margin-top: 1rem">
                <label>
                  <input
                    type="checkbox"
                    name="mce-privacy"
                    id="mce-privacy"
                    class="required"
                    required
                    style="float: left; margin-right: 1rem"
                  />
                  <p>
                    Mit Abonnieren des Newsletters erklären Sie sich mit dem
                    Erhalt von E-Mails zu WestWood-Themen einverstanden.
                    Weiterhin willigen Sie ein, dass wir die Öffnungs- und
                    Klickraten unserer Newsletter erheben und in
                    Empfängerprofilen zum Zwecke der Personalisierung und
                    Gestaltung zukünftiger Newsletter zusammenfassen. Ihre
                    Einwilligung kann jederzeit widerrufen werden. Ihre Daten
                    können an die Server unseres Dienstleisters in den USA
                    weitergegeben werden. Nähere Informationen erhalten Sie in
                    unserer
                    <f:link.typolink parameter="14"
                      >Datenschutzerklärung</f:link.typolink
                    >
                    *
                  </p>
                </label>
              </div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input
                type="text"
                name="b_f3c4212be1967514384de5202_6f80733eda"
                tabindex="-1"
                value=""
              />
            </div>
          </div>
          <div>
            <button
              type="submit"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="ww-button ww-button--secondary ww-button--full"
            >
              Anmelden
            </button>
          </div>
          <div id="mce-responses">
            <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none"
            ></div>
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->

      <!-- Begin Mailchimp Signup Form -->
      <!-- <div id="mc_embed_signup">
        <form
          action="https://westwood.us7.list-manage.com/subscribe/post?u=f3c4212be1967514384de5202&amp;id=6f80733eda"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate
        >
          <input
            placeholder="E-Mail Adresse"
            type="email"
            value=""
            name="EMAIL"
            class="required email"
            id="mce-EMAIL"
          />
          <div id="mce-HIDDEN-FIELDS">
            <input type="text" name="vorname" id="mce-FIRSTNAME" />
          </div>
          <button
            type="submit"
            id="mc-embedded-subscribe"
            name="subscribe"
            class="ww-button ww-button--secondary"
          >
            Anmelden
          </button>
          <div id="mce-responses" class="clear">
            <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none"
            ></div>
          </div>
          
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_f3c4212be1967514384de5202_6f80733eda"
              tabindex="-1"
              value=""
            />
          </div>
        </form>
      </div> -->

      <!--End mc_embed_signup-->
      <script>
        {
          const hiddenFields = document.querySelector('#mce-HIDDEN-FIELDS')
          hiddenFields.style.display = 'none'
          const emailField = document.querySelector('#mce-EMAIL')
          emailField.addEventListener('focus', function (event) {
            console.log(event)
            hiddenFields.style.display = 'block'
          })
        }
      </script>
    </section>
  </div>
</section>
