

<section class="ww-news container-fluid">
  <div class="container-sm py-4">
    <h1 class="my-5">Aktuelles</h1>

    <div class="row g-0">

      <div class="ww-news__list col-lg-8">
        <f:for each="{newsItems}" as="newsItem">
          <article class="ww-news__item ww-news__item--short">
            <aside>
              <time datetime='<f:format.date format="Y-m-d-H:i">{newsItem.crdate}</f:format.date>'>
                <f:format.date format="d.">{newsItem.crdate}</f:format.date><br>
                <f:format.date format="m.">{newsItem.crdate}</f:format.date>
              </time>
            </aside>
            <header>
              <h1>{newsItem.title}</h1>
              <h2>
                
                <f:format.crop maxCharacters="70" append="&nbsp;...">
                  {newsItem.subtitle}
                </f:format.crop>
              </h2>
            </header>
            <footer>
              <f:link.action pageUid="21" pluginName="list" action="show" arguments="{newsItem : newsItem}"><span>weiterlesen</span> <svg aria-hidden="true" focusable="false" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                  <path fill="currentColor"
                    d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
                  </path>
                </svg></f:link.action>
            </footer>
          </article>
        </f:for>       

      </div>

      <div class="d-none d-lg-block col-lg-4 ww-news__image">
        <img src="fileadmin/user_upload/news/1037-600x400.jpg" alt="" loading="lazy">
      </div>
    </div>

    <div class="row g-0">
      <div class="col-lg-8">
        <f:link.page pageUid="22" class="mt-4 ww-button ww-button--secondary ww-button--full">Alle News</f:link.page>

      </div>
    </div>
  </div>

</section>