{namespace wwapi=GG\Wwapi\ViewHelpers}
<div class="col-md-4 col-xl-3">
    <section class="ww-product__toggle">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#ww-product__ebenen" aria-expanded="false"
            aria-controls="ww-product__ebenen" class="ww-product__toggleButton">
            <span>Produktebenen</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
                <g transform="translate(-381 -1024)">
                    <rect data-name="Rechteck 10" width="27" height="27" rx="8" transform="translate(381 1024)"
                        fill="#74b12c" />
                    <line class="Linie_1" data-name="Linie 1" y2="14" transform="translate(394.5 1030.5)" fill="none"
                        stroke="#fff" stroke-width="2" />
                    <line class="Linie_2" data-name="Linie 2" y2="14" transform="translate(401.5 1037.5) rotate(90)"
                        fill="none" stroke="#fff" stroke-width="2" />
                </g>
            </svg>
        </button>
        <div id="ww-product__ebenen" class="show collapse ww-product__toggleContent">
            <ul class="list-unstyled">
                <f:for each="{all_info.productlevels}" as="level">
                    <li>
                        <f:if condition="{level.id} == {elements.productlevel_id}">
                            <f:then>
                                <f:variable name="class" value="active" />
                            </f:then>
                            <f:else>
                                <f:variable name="class" value="" />
                            </f:else>
                        </f:if>

                        <f:link.action pageUid="35" arguments="{productlevel_id: level.id}" class="{class}">
                            {level.title}
                        </f:link.action>
                    </li>
                </f:for>
            </ul>
        </div>
    </section>
    <f:comment>
        <section class="ww-product__toggle">
            <button type="button" data-bs-toggle="collapse" data-bs-target="#ww-product__solutions"
                aria-expanded="false" aria-controls="ww-product__solutions" class="ww-product__toggleButton">
                <span>Detaillösungen</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
                    <g transform="translate(-381 -1024)">
                        <rect data-name="Rechteck 10" width="27" height="27" rx="8" transform="translate(381 1024)"
                            fill="#74b12c" />
                        <line class="Linie_1" data-name="Linie 1" y2="14" transform="translate(394.5 1030.5)"
                            fill="none" stroke="#fff" stroke-width="2" />
                        <line class="Linie_2" data-name="Linie 2" y2="14" transform="translate(401.5 1037.5) rotate(90)"
                            fill="none" stroke="#fff" stroke-width="2" />
                    </g>
                </svg>
            </button>

            <div id="ww-product__solutions" class="show collapse ww-product__toggleContent">
                <ul class="list-unstyled">

                    <f:for each="{all_info.applications}" as="application">
                        <f:switch expression="{application.id}">
                            <f:case value="1">
                                <f:variable name="class" value="balkon" />
                            </f:case>
                            <f:case value="2">
                                <f:variable name="class" value="parken" />
                            </f:case>
                            <f:case value="3">
                                <f:variable name="class" value="verkehr" />
                            </f:case>
                            <f:case value="4">
                                <f:variable name="class" value="dach" />
                            </f:case>
                            <f:case value="5">
                                <f:variable name="class" value="spezial" />
                            </f:case>
                            <f:defaultCase>
                                <f:variable name="class" value="spezial" />
                            </f:defaultCase>
                        </f:switch>
                        <li>
                            <f:link.page pageUid="40"
                                additionalParams="{application:application.id , product:elements.id}">
                                {application.title}
                                <span class="area-icon bg-{class}">
                                    <wwapi:getfirstletter word="{application.title}" />
                                </span>
                            </f:link.page>
                        </li>

                    </f:for>
                </ul>
            </div>
        </section>
    </f:comment>
</div>