<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="address">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.address" />
</label><br />
	<f:form.textfield property="address" id="address" /><br />
<label for="application">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.application" />
</label><br />
	<f:form.textfield property="application" id="application" /><br />
<label for="ramp">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.ramp" />
</label><br />
	<f:form.textfield property="ramp" id="ramp" /><br />
<label for="stairway">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.stairway" />
</label><br />
	<f:form.textfield property="stairway" id="stairway" /><br />
<label for="parking">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.parking" />
</label><br />
	<f:form.textfield property="parking" id="parking" /><br />
<label for="topdeck">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.topdeck" />
</label><br />
	<f:form.textfield property="topdeck" id="topdeck" /><br />
<label for="betweendeck">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.betweendeck" />
</label><br />
	<f:form.textfield property="betweendeck" id="betweendeck" /><br />
<label for="area">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.area" />
</label><br />
	<f:form.textfield property="area" id="area" /><br />
<label for="email">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.email" />
</label><br />
	<f:form.textfield property="email" id="email" /><br />
<label for="firstname">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.firstname" />
</label><br />
	<f:form.textfield property="firstname" id="firstname" /><br />
<label for="lastname">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.lastname" />
</label><br />
	<f:form.textfield property="lastname" id="lastname" /><br />
<label for="tel">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.tel" />
</label><br />
	<f:form.textfield property="tel" id="tel" /><br />
<label for="message">
	<f:translate key="tx_fachverarbeitersuche_domain_model_requests.message" />
</label><br />
	<f:form.textarea property="message" id="message" cols="40" rows="15" /><br />
</html>