<f:debug>{newsItem}</f:debug>
<article class="ww-news__teaser ww-area--dach pb-3 mb-3">
    <aside>
        <img class="img-cover" src="https://picsum.photos/800/400" alt="">
        <div class="text-white">
            <p class="m-0">RefrenzReport</p>
            <p class="fs-4 m-0">Industriedachsanierung</p>
            <p class="m-0">in Hagen / Hohenlimburg</p>
        </div>
    </aside>

    <div class="ww-news__archive__content">
        <div>
            <span class="fw-bold text-primary">News | Dach</span> – 26.04.2021
        </div>

        <h1 class="text-primary my-3">Komplexes Dach - einfache Sanierungslösung</h1>

        <h2 class="fs-4">Neuer Referenzreport</h2>

        <p>
            Ob Lichtkuppeln, Wandanschlüsse oder Gullys - geometrisch komplexe Details lassen sich
            problemlos in die vliesarmierte Abdichtung integrieren. Das Wecryl Dachabdichtungssystem bot
            durch seine flexiblen, rissüberbrückenden PMMA-Harze dem Industriedach in Hagen die optimale
            Lösung.
        </p>

        <button class="ww-button ww-button--secondary">weiterlesen</button>

    </div>
</article>