{namespace wwapi=GG\Wwapi\ViewHelpers}

<div class="ww-product">
    <div class="container py-5">
        <h1 class="text-primary text-center ww-systems__title">{elements.title}</h1>
        <div class="row mt-5">
            <div class="col-md-8">
                <h2 class="fs-5">{elements.subtitle}</h2>
                <f:format.raw>{elements.description}</f:format.raw>
            </div>
            <div class="col-md-4 d-none d-md-block">
                <f:image class="img-fluid" src="{api_url}api/img{elements.image}?w=480&fit=max" loading="lazy" />
            </div>
        </div>
    </div>

    <div class="container ww-systems__grid">
        <div class="row g-5 row-cols-2 row-cols-md-3 row-cols-lg-4">
            <f:for each="{elements.products}" as="product">
                <f:link.action pluginName="api" pageUid="36" arguments="{prid:product.id}" class="col" noCacheHash="1">
                    <div class="ww-systems__griditem h-100">
                        <div class="overflow-hidden p-4 bg-white">

                            <img class="" src='{api_url}api/img{product.image}?w=380&fit=max' alt="" loading="lazy">
                        </div>
                        <div class="ww-systems__griditem__title">
                            <p>{product.title}</p>
                            <p>{product.subtitle}</p>
                        </div>
                    </div>
                </f:link.action>
            </f:for>
        </div>
    </div>


</div>