.ww-news {
  background-color: #f5f5f5;
  /* padding: 5vw; */
  margin-top: 4rem;
}

.ww-news__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  /* margin: 0 0 1rem; */
}

.ww-news__item--short {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  background-color: #fff;
}

.ww-news__item--short aside {
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  min-width: 4.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.ww-news__item--short header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ww-news__item--short header h1 {
  font-weight: var(--fontweight-bold);
}
.ww-news__item--short header h1,
.ww-news__item--short header h2 {
  margin: 0;
}

.ww-news__item--short header h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.ww-news__item--short header h2 {
  font-size: 1.25rem;
}

.ww-news__item--short header,
.ww-news__item--short footer {
  padding: 1rem;
}

.ww-news__item--short footer a span {
  display: none;
}

.ww-news__item--short footer {
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.ww-news__item--short footer a svg {
  width: 0.5rem;
  color: var(--gray);
}

.ww-news__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .ww-news__item--short footer a {
    border: 1px solid var(--gray);
    color: var(--gray);
    text-decoration: none;
    background-color: transparent;
    padding: 0.4rem 0.75rem;
    border-radius: 0.25rem;
    white-space: nowrap;
  }
  .ww-news__item--short footer a:hover {
    background-color: var(--primary-color);
    border: 1px solid transparent;
    color: white;
  }

  .ww-news__item--short footer a span {
    display: initial;
  }
  .ww-news__item--short footer a svg {
    margin-left: 0.5em;
  }
  .ww-news__item--short footer a:hover svg {
    color: white;
  }
}
