<f:layout name="MainLayout" />
<f:section name="Main">
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '1'}" />
    <main role="main">

        <div class="ww-headline container_fluid">

            <div class="ww-headline__text">
                <h1>
                    <f:cObject typoscriptObjectPath="lib.pageTitle" />
                </h1>
            </div>
        </div>
        
        <f:render partial="newsResults" arguments="{_all}" />

        <div class="row">
            <div class="col-md-12">
                <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '0'}" />
            </div>
        </div>

    </main>

</f:section>