<table width="500">
    <tr>
        <td>Seminar</td>
        <td>{newRequest.seminar.title}</td>
    </tr>
    <tr>
        <td>Firma</td>
        <td>{newRequest.firma}</td>
    </tr>
    <tr>
        <td>Adresse</td>
        <td>{newRequest.strasse} {newRequest.plz} , {newRequest.ort}</td>
    </tr>
    <tr>
        <td>Telefon</td>
        <td>{newRequest.telefon}</td>
    </tr>
    <tr>
        <td>Telefax</td>
        <td>{newRequest.telefax}</td>
    </tr>
    <tr>
        <td>E-Mail</td>
        <td>{newRequest.email}</td>
    </tr>
    <tr>
        <td>Ansprechpartner</td>
        <td>{newRequest.ansprechpartner}</td>
    </tr>
    <tr>
        <td></td>
        <td>{newRequest.}</td>
    </tr>
    <tr>
        <td>Teilnehmer</td>
        <td>{newRequest.personen}</td>
    </tr>

    
</table>